<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" id="page-shop" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder bg-holder-2" style="background: url(<%= asset_path 'banner.jpg' %>) no-repeat; background-size: cover;" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}'>
    </div>
  <!--/.bg-holder-->
    <div class="container">
      <div class="row justify-content-center text-center py-7">
        <div class="col-lg-9 px-4">
          <h3 class="fs-2 fs-sm-3 text-white text-profile">Welcome<br/>
          </br/><%= current_artist.first_name %> <%= current_artist.last_name %></h3>
          <br/>
      </div>
    </div>
  </div>
<!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->


<!-- ============================================-->
<section>
<!-- begin profile pic-->
<div class="col-12 mt-6">
  <div class="bg-light p-5 rounded profile-flex">
    <div class="row no-gutters justify-content-right text-center text-sm-left">
      <div class="col-sm profile-flex">
        <%= image_tag("profile.jpg", class: "square-profile img-fluid", width: '200') %><br/></br/>
        <h5><%= current_artist.first_name.capitalize %> <%= current_artist.last_name[0].capitalize %></h5><br/>
        <p class="text-sans-serif"><% if !current_artist.biography.nil? %> <%= current_artist.biography %> <% end %></p>
        <p class="text-sans-serif"><% if !current_artist.previous_projects.nil? %><%= current_artist.previous_projects %> <% end %></p>
        <p class="text-sans-serif"><% if !current_artist.previous_exhibitions.nil? %><%= current_artist.previous_exhibitions %> <% end %></p>
        <p class="text-sans-serif"><% if !current_artist.locality.nil? %><%= current_artist.locality %> <% end %></p>
        <br />
        <p class="lead font-italic text-400 px-lg-7">Vous êtes connecté : <%= current_artist.email %></p>
        <div class="lead text-400 px-lg-6"><%= link_to ' Modifier le profil ', edit_artist_registration_path, class:"btn btn-dark btn-sm px-7 mt-4" %></div>
        <div class="lead text-400 px-lg-6"><%= link_to 'Soumettre un projet', new_project_path, class:"btn btn-danger btn-sm px-7 mt-4" %></div>
      </div>
    </div>
  </div>
</div>
<!-- end of profile pic-->
</section>

<!-- <section> begin ============================-->

<section id="default-cta-3">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <% if !@project.nil? %>
        <%= link_to @project.title, project_path(:id), class:"btn btn-outline-dark rounded-capsule mt-4" %>
        <% end %>
        <div class="col ml-auto text-sans-serif text-center"> <br>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>

<section>
  <div class="container">
    <div class="row index-flex parallax" data-rellax-speed="3">
      <% if !@project.nil? %>
      <div class="col-lg-6">
        <div class="py-9 h-100 position-relative">
          <%= image_tag (@project.uploads[0]), class: "img-fluid2" %>
          <!--/.bg-holder-->
        </div>
        </div>
        <div class="col-lg-6 pl-lg-4 pl-xl-6 mt-4 mt-lg-0">
  			<!--   progressbar a pluger!  -->
        <div class="text-sans-serif fs-1 mb-2"><span class="text-warning font-weight-black"><%= @project.budget %></span><span class="fs-0"> €</span>
        </div>
        <ul class="list-unstyled mt-4">
          <li>
            <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Art category:</span><span class="font-weight-normal pl-1"><%= @project.category %></span></h6>
          </li>
          <li>
            <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Project's deadline:</span><span class="font-weight-normal pl-1"><%= @project.duration %></span></h6>
          </li>
          <li>
            <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Scope:</span><span class="font-weight-normal pl-1"><%= @project.scope %></span></h6>
          </li>
          <li>
            <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Where to create:</span><span class="font-weight-normal pl-1"><%= @project.show_fav_place %></span></h6>
          </li>
          <li>
            <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Innovative ?</span><span class="font-weight-normal pl-1"><%= @project.innovative %></span></h6>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
<!-- end of .container-->
</section>

<!-- <section> begin ============================-->
<section id="default-cta-3">
  <div class="container">
    <div class="row justify-content-center text-center parallax" data-rellax-speed="3">
      <div class="col-lg-8">
        <% if !@project.nil? %>
          <p class="px-lg-6 px-md-5"><%= @project.description %></p>
        <% end %>
    </div>
  </div>
</div>
</section>
  <!-- end of .container-->
  <!-- <section> close ============================-->
  <!-- ============================================-->
  <!-- projet résumé-->
  <!-- <section> begin ============================-->

<section id="default-cta-3">
  <% if !@project.nil? %>
  <div class="container parallax" data-rellax-speed="3">
    <div class="progress-line mr-4" data-options='{"progress":<%= rand(1..100) %>,"text":"Avancée du projet."}'>
    </div><br/>
    <div class="progress-line mr-4" data-options='{"progress":<%= rand(1..100) %>,"text":"Avancée du financement."}'>
    </div>
  </div>
  <% end %>
</section>
