<% content_for :title do %>
  Mon profil
<% end %>

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" id="page-shop" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder bg-holder-2" style="background: url(<%= asset_path 'banner3.jpg' %>) no-repeat; background-size: cover;" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}'>
    </div>
  <!--/.bg-holder-->
    <div class="container">
      <div class="row justify-content-center text-center py-7">
        <div class="col-lg-9 px-4">
          <h3 class="fs-2 fs-sm-3 text-white text-profile">Bienvenue<br/>
          </br/><%= current_mecene.first_name %> <%= current_mecene.last_name %></h3>
          <br/>
      </div>
    </div>
  </div>
<!-- end of .container-->
</section>
<!-- ============================================-->

<section class="margin-section">
<!-- begin profile pic-->
<div class="col-12 mt-6">
  <div class="bg-light p-5 rounded profile-flex">
    <div class="row no-gutters justify-content-right text-center text-sm-left">
      <div class="col-sm profile-flex" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-left","delay":0.4}'>
        <% if current_mecene.avatar.attached? %>
          <% if current_mecene.avatar.image? %>
          <%= image_tag(current_mecene.avatar, width: 300, class: 'square-profile img-fluid') %>
          <% else %>
            <%= image_tag("profile.jpg", class: "square-profile img-fluid", width: '200') %><br/></br/>
          <% end %>
        <% else %>
          <%= image_tag("profile.jpg", class: "square-profile img-fluid", width: '200') %><br/></br/>
        <% end %>
        <h5><%= current_mecene.first_name.capitalize %> <%= current_mecene.last_name[0].capitalize %></h5><br/>
        <div class="lead text-400 px-lg-6"><%= link_to 'Modifier le profil', edit_mecene_registration_path, class:"btn btn-dark btn-sm px-7 mt-4" %></div>
        <div class="lead text-400 px-lg-6"><%= link_to 'Voir les projets', projects_path, class:"btn btn-danger btn-sm px-7 mt-4" %></div><br/></br/>
        <div class="mecene-pref">
          <h5>Préferences :</h5>
          <p><strong>Budget minimum à investir : </strong><br/><%= current_mecene.min_budget %></p>
          <p><strong>Durée avant retour sur investissement : </strong><br/><%= current_mecene.max_return_invest %></p>
          <p><strong>Arts favoris : </strong><br/><%= current_mecene.art_category %></p>
          <p><strong>Localisation des artistes : </strong><br/><%= current_mecene.locality %></p><br/>
        </br/>
        </div>
        <p class="lead font-italic text-400 px-lg-7">Vous êtes actuellement connecté avec l'email suivant : <%= current_mecene.email %></p>
      </div>
    </div>
  </div>
</div>
<!-- end of profile pic-->
</section>

<!-- Projects Mecene User Fund -->
<section>
  <% @arr.each_pair do |k,v|%>
  <div class="container">
    <p class="lead font-italic text-400 px-lg-7"><span class="funded">Les projets que vous financez : </span></p>

    <div class="row index-flex">
      <div class="col-lg-6" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-right","delay":0.5}'>
        <div class="py-9 h-100 position-relative">
          <% if k.uploads.attached? %>
          <%= image_tag (k.uploads[0]), class: "img-fluid2" %>
          <% end %>
          <!--/.bg-holder-->
        </div>
      </div>
      <div class="col-lg-6 pl-lg-4 pl-xl-6 mt-4 mt-lg-0">
      <!--   progressbar a pluger!  -->
      <div class="progress-line " data-options='{"progress":<%= k.funding*100/k.budget %>,"text":"Avancée du financement."}'></div>
        <div class="text-sans-serif fs-1 mb-2"><span class="text-warning font-weight-black"><%= k.budget %></span><span class="fs-0"> €</span></div>
          <h3 class="mb-0"><%= link_to k.title, project_path(k.id)%></h3>
          <p class="lead text-sans-serif"><%= k.description %></p>
          <ul class="list-unstyled mt-4">
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Catégorie artistique:</span><span class="font-weight-normal pl-1"><%= k.category %></span></h6>
            </li>
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Délai du projet:</span><span class="font-weight-normal pl-1"><%= k.duration %></span></h6>
            </li>
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Portée:</span><span class="font-weight-normal pl-1"><%= k.scope %></span></h6>
            </li>
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Endroit de création:</span><span class="font-weight-normal pl-1"><%= k.show_fav_place %></span></h6>
            </li>
            <li>
                <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Novateur ?</span>
                <span class="font-weight-normal pl-1">
                  <% if k.innovative == true %>
                    Oui
                  <% else %>
                    Non
                  <% end %>
                </span>
              </h6>
            </li>
          </ul>
            <li><p>Vous avez investi <%= v.to_s %> € sur les <%= k.budget %> € demandés. Vous possédez donc <%= ((v.to_f/k.budget.to_f)*0.45*100).round.to_s %> % des parts de l'artiste </p><br /></li>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- End of Projects Mecene User Fund -->
</section>
