<% content_for :title do %>
  Accueil
<% end %>

<section class="py-0" id="page-signup">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6  px-0">
        <div class="sticky-top h-lg-100vh py-9 ">
          <div class="bg-holder" style="background: url(<%= asset_path 'banner3.1.jpg' %>) no-repeat; background-size: cover;" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}'>
            <div data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.8}' class=" mecenes-left ">
              <% if mecene_signed_in? %>
                <h2 class=" white-mecene"><%= link_to 'Mécène', mecene_path(current_mecene.id), class:"black-artist" %></h2>
                <% end %>
                <ul>
                	<% if mecene_signed_in? %>
                  <div class="mecene-li">
                  <!-- ##################### -->
                    <div><li class="index-li"><%= link_to 'Voir les projets', projects_path, class:"white-mecene li-signup" %></li></div>
                    <div><li class="index-li"><%= link_to 'Éditez votre profil', edit_mecene_registration_path, class: "white-mecene li-signup" %></li></div>
                    <div><li class="index-li"><%= link_to 'Se déconnecter', destroy_mecene_session_path, method: :delete, class: "white-mecene li-signup" %></li></div>
                  </div>
                    <!-- ##################### -->
                  	<% else %>
                    <h2 class="white-mecene">Mécène</h2>
                  	<li class="index-li"><%= link_to "Connectez-vous", new_mecene_session_path, class: "white-mecene li-signup" %></li>
                  	<li class="index-li"><%= link_to "Rejoignez-nous", new_mecene_registration_path, class: "white-mecene li-signup" %></li>
                	<% end %>
              </div>
          </div>
          <!--/.bg-holder-->
        </div>
      </div>
      <div class="col-lg-6 bg-white py-6">
        <div class="row h-100 align-items-center justify-content-center">
          <div class="bg-holder" style="background: url(<%= asset_path 'banner3.2.jpg' %>) no-repeat; background-size: cover;" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-left","delay":0.4}'>
            <div data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-left","delay":0.8}' class=" black-artist artists-right">
              <% if artist_signed_in? %>
              <h2 class=" white-mecene"><%= link_to 'Artiste', artist_path(current_artist.id), class:"black-artist" %></h2>
              <% end %>
              <ul >
                <% if artist_signed_in? %>
                <!-- ##################### -->
                <div class="artist-li">
                  <div><li class="index-li"><%= link_to 'Soumettre un projet', projects_new_path, class:"black-artist li-signup" %></li></div>
                  <div><li class="index-li"><%= link_to 'Voir les projets', projects_path, class:"black-artist li-signup" %></li></div>
                  <div><li class="index-li"><%= link_to 'Éditez votre profil', edit_artist_registration_path, class: "white-mecene li-signup" %></li></div>
                  <div><li class="index-li"><%= link_to 'Se déconnecter', destroy_artist_session_path, method: :delete, class: "white-mecene li-signup" %></li></div>
                </div>
                <!-- ##################### -->
                <% else %>
                <h2 class=" white-mecene">Artiste</h2>
                <li class="index-li"> <%= link_to 'Connectez-vous', new_artist_session_path, class: "black-artist li-signup" %> </li>
                <li class="index-li"> <%= link_to 'Rejoignez-nous', new_artist_registration_path, class: "black-artist li-signup" %> </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================================-->
<!-- <section> begin ============================-->
<%= render "renders/descriptif.html.erb" %>
<!-- <section> close ============================-->
<!-- <section> begin ============================-->
<%= render "renders/countdown.html.erb" %>
<!-- <section> close ============================-->
<!-- <section> begin ============================-->
<%= render "renders/contact.html.erb" %>
<!-- <section> close ============================-->
<!-- ============================================-->
