<% content_for :title do %>
  Simulation
<% end %>

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-white py-6 py-md-8" id="default-why-us">

<% @result == 0 if @result.nil? %>
<% @part_societe == 0 if @part_societe.nil? %>
<% @investissement == 0 if @investissement.nil? %>
<div class="container">
	<%= form_for(:simu, url: simulation_path, html: {method: :post}) do |f| %>
  <div class="row align-items-center justify-content-center">
    <div class="col-12 mb-2 mb-lg-5 text-center">
      <h2 class="fs-3 fs-sm-4"><span class="text-underline">Pourquoi financer un artiste ?</span></h2>
    </div>
  </div>
  <div class="row align-items-center justify-content-center financement">
    <div class="col-sm-8 col-lg-4 text-lg-right mt-5 mt-lg-0 pr-lg-3 pr-xl-4">
      <div class="overflow-hidden">
				<div>
					<p>Combien voulez vous investir ?</p>
					<%= f.text_field :investissement, class:"form-control border-300 bg-light", placeholder:"#{@investissement}" %>
				</div>
				<br/><br/>
				<div>
					<p>Quel est le financement total du projet ?</p>
					<%= f.text_field :budget, class:"form-control border-300 bg-light", placeholder:"#{@budget}" %>
				</div>
				<br/><br/>
				<div>
					<p>A combien sera t il vendu ?</p>
					<%= f.text_field :vente, class:"form-control border-300 bg-light", placeholder:"#{@vente}" %>
				</div>
      </div>
    </div>
    <div class="col-sm-8 col-lg-4 mt-4 mt-lg-0 px-lg-4">
			<%= image_tag 'child.jpg', class:'w-100 rounded', width:400 %>
    </div>
    <div class="col-sm-8 col-lg-4 mt-5 mt-lg-0 pl-lg-3 pl-xl-4">
      <div class="overflow-hidden">
				<%= f.submit "Simuler vos revenus", class:"btn btn-danger" %>
      </div>

    </div>
  </div>
</div>
<!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<section class="financement-section">
<div class="row align-items-center justify-content-center">
	<div class="col-sm-8 col-lg-4 text-lg-right mt-5 mt-lg-0 pr-lg-3 pr-xl-4">
		<div class="overflow-hidden">
			<% end %>
			<%if @result == nil || @part_societe == nil %>
			<% else %>
			<h4 data-zanim-xs='{"delay":0.3}' data-zanim-trigger="scroll" class="txt-center">Avec cette configuration vous gagnerez <%= @result.to_i %> euros de bénéfices.</h4>
			<h4 data-zanim-xs='{"delay":0.3}' data-zanim-trigger="scroll" class="txt-center">Ce qui représente <%= @part_societe.round(2) %> % des parts de la société artiste.</h4>
		</div>
	</div>
</div>
<% end %>
</section>
