<h2>Submit your project down below</h2><br/>


<%= form_for(:xoxo, url: projects_path) do |f| %>

	<%= f.label :title, 'Title' %> <br>
	<%= f.text_field :title %> <br/>

	<%= f.label :description, 'Description' %> <br>
	<%= f.text_field :description %> <br/>

    <%= f.label :uploads %><br />
    <%= f.file_field :uploads, multiple: true, class: 'form-control' %>

	<%= f.label :category, 'Art category' %> <br/>
	<%= f.text_field :category %> <br/>

	<%= f.label :duration, 'How long ?' %> <br/>
	<%= f.date_field :duration %> <br/>

	<%= f.label :budget, 'How much ?' %> <br/>
	<%= f.text_field :budget %> <br/>

	<%= f.label :funding, 'How much ?' %> <br/>
	<%= f.text_field :funding %> <br/>

	<%= f.label :show_fav_place, 'Where ?' %> <br/>
	<%= f.text_field :show_fav_place %> <br/>

	<%= f.label :scope, 'Scope ?' %> <br/>
	<%= f.text_field :scope %> <br/>

	<%= f.label :innovative, 'Innovative ?' %> <br/>
	<%= f.text_field :innovative %> <br/> <br/>

	<%= f.submit "Submit" %>

<% end %>