<h2>Project informations</h2>
<% @project.uploads.each do |img| %>
	<%= image_tag img %>
<% end %>
<%= @project.title %> <br/>
<%= @project.description %> <br/>
<%= @project.artist.first_name %> <br/>
<%= @project.category %> <br/>
<%= @project.duration %> <br/>
<%= @project.budget %> <br/>
<%= @project.funding %> <br/>