<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" id="page-shop" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
	<div class="bg-holder overlay parallax rounded" style="background: url(<%= asset_path 'banner3.jpg' %>) no-repeat; background-size: cover;" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}';data-rellax-percentage="1">
	</div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row">
      <div class="col-9 pt-11 pb-5">
          <div class="media-body pl-3">
            <div class="overflow-hidden">
              <h2 class="fs-4 text-white display-4 text-serif" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll"><span class="font-italic">Quel projet allez-vous financer ?</span></h2>
            </div>
            <div class="overflow-hidden">
              <h6 class="mb-0 text-white ls-2 text-uppercase" data-zanim-xs='{"delay":0.8}' data-zanim-trigger="scroll">Choisissez en ou même plusieurs !</h6>
            </div>
          </div>
      </div>
    </div>
  </div>
<!-- end of .container-->

</section>


<section>
  <div class="slider-project" >
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="row no-gutters">
        <div class="col-12 overflow-hidden rounded" data-zanim-timeline='{"delay":0.2}' data-zanim-trigger="scroll">
          <div class="row" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}'>
            <div class="col">
              <div class="owl-carousel owl-theme owl-theme-vertical-1 owl-dots-inner owl-theme-white" data-options='{"items":1,"autoplay":false,"loop":true,"animateOut":"fadeOut","nav":true,"margin":30}'>
								<% @project.uploads.each do |upload| %>
                	<% if upload.variable? %>
                		<%= link_to image_tag(upload), upload, :class=> 'preview_uploads' %>
                	<% elsif upload.previewable? %>
                		<%= link_to image_tag(upload.preview(resize: '400x600')), rails_blob_path(upload, disposition: :attachment), :class=> 'preview_uploads' %>
                	<% elsif upload.image? %>
                		<%= link_to image_tag(upload, width: 400), upload,:class=> 'preview_uploads' %>
                	<% else %>
                		<%= link_to upload.filename, rails_blob_path(upload, disposition: :attachment) %>
                	<% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row index-flex parallax" data-rellax-speed="2">
      <div class="col-lg-12 pl-lg-8 pl-xl-12 mt-4 mt-lg-0">
				<!--   progressbar a pluger!  -->
				<div class="progress-line mr-4" data-options='{"progress":<%= @project.funding*100/@project.budget %>,"text":"Funding"}'></div>
        <!--     -->
          <div class="text-sans-serif fs-1 mb-2"><span class="text-warning font-weight-black"><%= @project.budget %></span><span class="fs-0"> €</span></div>
            <div class="content-project">
              <div>
	              <p class="text-black" href="page-product-single.html">
	                <h3 class="mb-0"><%= @project.title %></h3>
	              </p>
              </div>
              <div>
            	  <p class="lead text-sans-serif"><%= @project.description %></p>
              </div>
              <div>
                <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Artiste :</span><br/>
              </div>
              <div>
              	<span class="font-weight-normal pl-1"><%= @project.artist.first_name.capitalize %> <%= @project.artist.last_name[0].capitalize %></span></h6>
              </div>
              <div>
          		  <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Categorie :</span><br/>
              	<span class="font-weight-normal pl-1"><%= @project.category %></span></h6>
              </div>
              <div>
          		  <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Échéance du projet :</span><br/>
              	<span class="font-weight-normal pl-1"><%= @project.duration %></span></h6>
              </div>
              <div>
          		  <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Portée :</span><br/>
              	<span class="font-weight-normal pl-1"><%= @project.scope %></span></h6>
              </div>
              <div>
          		  <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Lieu de création :</span><br/>
              	<span class="font-weight-normal pl-1"><%= @project.show_fav_place %></span></h6>
              </div>
              <div>
          		  <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">Novateur ?</span><br/>
              	<span class="font-weight-normal pl-1"><%= @project.innovative ? "oui" : "non" %></span></h6>
              </div>
          </div>
      </div>

<!-- Begin Fund Form -->
  <% if current_mecene %>
    <%= form_tag charges_path do %>
      <div id="error_explanation">
        <% if flash[:error].present? %>
          <p><%= flash[:error] %></p>
        <% end %>
      </div>
      <article>
        <%= label_tag(:amount, 'Montant du don :', class:"form-control border-300 bg-light") %>
        <%= text_field_tag(:amount, "", class:"form-control border-300 bg-light") %>
      </article>
      <article>
        <%= hidden_field_tag(:stripeToken) %>
        <%= hidden_field_tag(:id, @project.id) %>
        <%= hidden_field_tag(:max, @project.budget-@project.funding) %>
      </article>
      <button id='donateButton', class="btn btn-dark btn-sm px-7 mt-4">Financez ce projet</button>
    <% end %>
    <!-- STRIPE JS DONATION SYSTEM -->
    <script>
      var handler = StripeCheckout.configure({
        key: '<%= Rails.configuration.stripe[:publishable_key] %>',
        locale: 'auto',
        name: 'Excellent choix !',
        description: 'Votre financement',
        token: function(token) {
          $('input#stripeToken').val(token.id);
          $('form').submit();
        }
      });

      $('#donateButton').on('click', function(e) {
        e.preventDefault();
        $('#error_explanation').html('');
        var amount = $('input#amount').val();
        var max = $('input#max').val();
        amount = amount.replace(/\$/g, '').replace(/\,/g, '')
        amount = parseFloat(amount);
        if (isNaN(amount)) {
          $('#error_explanation').html('<p>Veuillez entrer une valeur valide en euros (€).</p>');
        }
        else if (amount < 5.00) {
          $('#error_explanation').html('<p>Le financement ne peut être inférieur à 100€.</p>');
        }
        else if (amount > max){
          $('#error_explanation').html('<p>Vous ne pouvez pas donner plus que le besoin actuel de financement '+max+'€.</p>');
        }
        else {
          amount = amount * 100; // Needs to be an integer!
          handler.open({
            amount: Math.round(amount)
          })
        }
      });

      $(window).on('popstate', function() {
        handler.close();
      });
    </script>

      <!-- END STRIPE JS DONATION SYSTEM -->
  <% end %>
<!-- End Fund Form -->
    </div>
  </div>
</div>
  <!-- end of .container-->
</section>


<!-- <section> close ============================-->
<!-- ============================================-->
