<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="border-top border-300" id="default-process">

  <div class="container">
    <div class="row justify-content-center text-center mb-6">
      <div class="col-lg-6" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-right","delay":0.4}'>
        <h2 class="fs-3 fs-sm-4 text-underline mb-3">Qui êtes vous </br> <%= current_artist.first_name.capitalize %> ?</h2>
        <p class="text-500 font-italic">Nous vous aiderons ensuite à trouver les mécènes intéressés par votre projet.<br/>

        Mais aussi d'en apprendre sur vous avant que l'on se recontre.</p>
        <hr class="hr-short mt-5 border-300" />
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>


    <div class="row">
      <div class="col-12 pl-lg-7">

        <div class="row align-items-end">
          <div class="col-lg-6 order-lg-2 text-center test-img-right" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>
            <%= image_tag("betheplace.jpg", class: "img-fluid-right", width: '400') %>
          </div>
          <div class="col-lg-6 border-lg-left border-lg-bottom border-300 pb-lg-8 mt-4 mt-lg-0 mb-8 mb-lg-0">
            <div class="process-item ml-6 ml-sm-8 ml-lg-6"><span class="process-item-number">01</span>
              <h3>Who are you?</h3>
              <p>Let's start by introducing yourself. <br/> <br/> <br/> <br/>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control border-300 bg-light", placeholder:"Email" %>
                <%= f.text_field :first_name, class:"form-control border-300 bg-light", placeholder:"Prénom" %>
                <%= f.text_field :last_name, class:"form-control border-300 bg-light", placeholder:"Nom" %></p>
                <label class="btn btn-danger">Photo de profil<span style="display:none;"><%= f.file_field :avatar, name: 'picture' %></span></label></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 border-lg-right border-lg-bottom border-300 text-center py-lg-8 test-img-left" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-right","delay":0.4}'>
            <%= image_tag("open.jpg", class: "img-fluid-left", width: '400') %>
          </div>
          <div class="col-lg-6 mt-4 mt-lg-0 mb-8 mb-lg-0 my-lg-8">
            <div class="process-item ml-6 ml-sm-8 ml-lg-6"><span class="process-item-number">02</span>
              <h3>Education.</h3>
              <p>Let us know here if you've become an artist by your own will and work or if you studied the art somewhere.<br/> <br/> <br/> <br/>
              <%= f.text_field :school, class:"form-control border-300 bg-light", placeholder:"Études ?" %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 order-lg-2 text-center align-self-center test-img-right" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>
            <%= image_tag("connected.jpg", class: "img-fluid-right", width: '400') %>
          </div>
          <div class="col-lg-6 border-lg-left border-lg-bottom border-300 py-lg-8 mt-4 mt-lg-0 mb-8 mb-lg-0">
            <div class="process-item ml-6 ml-sm-8 ml-lg-6"><span class="process-item-number">03</span>
              <h3>Artistic background.</h3>
              <p>Already finished some projects ?<br/> Already had exhibitions (solo or group) ?<br/>Already sold some piece of art ?<br/> We would love to hear more about it !<br/> <br/> <br/> <br/>
              <%= f.text_field :previous_projects, class:"form-control border-300 bg-light", placeholder:"Précédents projets ?" %>
              <%= f.text_field :previous_exhibitions, class:"form-control border-300 bg-light", placeholder:"Une précédente exposition ?" %>
              <%= f.text_field :previous_sales, class:"form-control border-300 bg-light", placeholder:"Le prix de votre dernière oeuvre ?" %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 border-lg-right border-lg-bottom border-300 text-center py-lg-8 test-img-left" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-right","delay":0.4}'>
            <%= image_tag("arrow.jpg", class: "img-fluid-left", width: '400') %>
          </div>
          <div class="col-lg-6 mt-4 mt-lg-0 mb-8 mb-lg-0 my-lg-8">
            <div class="process-item ml-6 ml-sm-8 ml-lg-6"><span class="process-item-number">04</span>
              <h3>Some personnal informations.</h3>
              <p>Your past is important to know your present. <br/>Your present is a hint of your future. <br/>Let us know how we can help you build your best future !<br/> <br/> <br/> <br/>
              <%= f.text_field :biography, class:"form-control border-300 bg-light", placeholder:"Écrivez une courte biographie." %>
              <%= f.text_field :time_invest_on_project, class:"form-control border-300 bg-light", placeholder:"À quel point êtes vous investi dans l'art ? (0 - 100 %)" %>
              <%= f.text_field :locality, class:"form-control border-300 bg-light", placeholder:"Où habitez vous ?" %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 order-lg-2 text-center align-self-center test-img-right" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-left","delay":0.4}'>
            <%= image_tag("hatenothing.jpg", class: "img-fluid-right", width: '400') %>
          </div>
          <div class="col-lg-6 border-lg-left border-lg-bottom border-300 py-lg-8 mt-4 mt-lg-0 mb-8 mb-lg-0">
            <div class="process-item ml-6 ml-sm-8 ml-lg-6"><span class="process-item-number">05</span>
              <h3>Bank informations.</h3>
              <p>You want to get your funding ? We then need to know your IBAN.<br/> <br/> <br/> <br/>
              <%= f.text_field :iban, class:"form-control border-300 bg-light", placeholder:"Quel est votre IBAN ?" %></p>
            </div>
          </div>
        </div>
        <div class="row overflow-hidden pb-1">
          <div class="col-lg-6 border-lg-right border-300 text-center py-lg-8 test-img-left" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-right","delay":0.4}'>
            <%= image_tag("kiss.jpg", class: "img-fluid-left", width: '400') %>
          </div>
          <div class="col-lg-6 align-self-center mt-4 mt-lg-0 mt-lg-8">
            <div class="process-item process-item-last ml-6 ml-sm-8 ml-lg-6"><span class="process-item-number">06</span>
              <h3>Mot de passe.</h3>
              <p>Want to change your password ? The email you linked to your account ?<br/> <br/> <br/> <br/>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <%= f.password_field :password, autocomplete: "new-password", class:"form-control border-300 bg-light", placeholder:"Nouveau mot de passe (vide si vous ne voulez pas changer )" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>

                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control border-300 bg-light", placeholder:"Confirmation du mot de passe" %>

                <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control border-300 bg-light", placeholder:"Votre mot de passe actuel" %>
            </p>
            </div>
          </div>
        </div>
          <div class="submitbtn">
            <div class="row mb-4 align-items-center">
                <%= f.submit "Update", class:"btn btn-danger btn-block" %>
                <% end %>
                </div>
              </div>
              <div class="row mb-4 align-items-center delete-account">
                <br/> <br/> <br/>
                <h3>You want to leave us ?</h3>
                <br/> <br/> <br/>
                <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class:"btn btn-dark btn-block", method: :delete %></p>
                <br/> <br/> <br/>
              <%= link_to "Back", '/home/index' %>
              </div>
          </div>
        </div>
      </div>

  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->
